{% include 'shogun-products', content: page %}
<!-- /templates/page-adaptive-skincare.liquid -->

{%- comment -%}
<div class="banner banner-home">
  <img class="banner-img" src="{{ 'adaptive-page-header.jpg' | asset_url }}" alt="">

  <div class="wrapper">
    <div class="banner-txt">
      <h1>Adaptive Skincare</h1>
      <p>We recognize your individuality</p>
    </div>
  </div>
</div><!-- .banner -->
{%- endcomment -%}

<section class="intro-stripe content-stripe">
	<div class="wrapper" style="align-items: center;">
		<div class="txt-wrap">
			<h2 class="light-title">SKIN IS INTELLIGENT</h2>
			<h3 class="light-title">And now it's met its gorgeous match</h3>

          <p>As a leader in skin science, PRIORI Adaptive Skincare offers you simple and effective skin solutions that adapt to your personal needs so you can achieve your most radiant skin all day, every day. Adaptive Skincare allows each individual to receive personalized results. Powerful ingredients are combined into proprietary complexes that provide your skin with exactly what it needs, when it needs it.</p> 
      </div>
		<div class="img-wrap">
			<img src="{{ 'adaptive-skincare.jpg' | asset_url }}" alt="">
		</div>
	</div><!-- .wrapper -->
</section>
<!--Hiding This Section for now>
<section class="features-stripe content-stripe">
	<div class="wrapper">
		<h2 class="uppercase-title">Adaptive Days</h2>
	</div>

	<h2 class="light-title">Intelligent skincare that delivers results all day long.</h2>

	<div class="wrapper">
		<ul class="features-blocks features-small grid">
		  <li class="grid__item large--one-third">
		    <img src="{{ 'Priori_Web_Icon_Morning.svg' | asset_url }}" alt="">

			<h3 class="light-title">Morning</h3>

			<p>Cleanse + Replenish</p>
		  </li>

		  <li class="grid__item large--one-third">
		    <img src="{{ 'Priori_Web_Icon_Evening.svg' | asset_url }}" alt="">

			<h3 class="light-title">Afternoon</h3>

			<p>Defend + Protect</p>
		  </li>

		  <li class="grid__item large--one-third">
		    <img src="{{ 'Priori_Web_Icon_Night.svg' | asset_url }}" alt="">

			<h3 class="light-title">Night</h3>

			<p>Repair + Replenish</p>
		  </li>
		</ul>
	</div><!-- .wrapper -->
</section>
<!--Hiding This Section for now>
<section class="carousel-stripe content-stripe adaptive-days">
	<div class="title-carousel">
		<div class="cycle-content">
			<img src="{{ 'adaptive-days-wakeup.svg' | asset_url }}" alt="">
			<h3>Wake Up</h3>
		</div>

		<div class="cycle-content">
			<img src="{{ 'adaptive-days-protect.svg' | asset_url }}" alt="">

			<h3>Protection</h3>
		</div>

		<div class="cycle-content">
			<img src="{{ 'adaptive-days-recover.svg' | asset_url }}" alt="">

			<h3>Recovery</h3>
		</div>
	</div><!-- .title-carousel -->
<!--Hiding This Section for now>
	<div class="wrapper">
		<div class="adaptive-carousel">
			<div class="cycle-content">
				<ul class="grid">
					<li class="grid__item large--one-third">
						<h4 class="uppercase-title">Your Skin</h4>

						<p>When you wake up your skin can feel blemished and dry, a result of new cells gathering while you sleep. Cleansing and replenishing these new cells in the morning sets your ideal skin off to a refreshing start.</p>
					</li>

					<li class="grid__item large--one-third">
						<h4 class="uppercase-title">Treatment</h4>

						<p>Use gentle and active cleansers to correct blemishes and moisturize your skin, giving it the wake up call it needs. <a href="/products/lca-fx120-gel-perfector">Priori’s Gel Perfector</a>, <a href="/products/q-sod-fx220-brightening-serum">Brightening Serum</a> and <a href="/products/q-sod-fx-230-eye-creme">Eye Creme</a> allow you to build an AM routine that works for you.</p>
					</li>

					<li class="grid__item large--one-third">
						<h4 class="uppercase-title">Adaptive Care</h4>

						<p>Starting your day with Priori’s Advanced Adaptive Skincare products not only heals and nourishes your skin in the moment, it also provides your skin actives to look and feel radiant all day long.</p>
					</li>
				</ul>
			</div>

			<div class="cycle-content">
				<ul class="grid">
					<li class="grid__item large--one-third">
						<h4 class="uppercase-title">Your Skin</h4>

						<p>Just like everyday is different, every skin is different as well. That’s why Priori’s advanced formulas are designed to adapt to daily variable and environments that damage your skin throughout the day.</p>
					</li>

					<li class="grid__item large--one-third">
						<h4 class="uppercase-title">Treatment</h4>

						<p>Priori’s advanced hydrating formulas keep skin looking fresh. Use the <a href="/products/lca-fx140-barrier-restore-complexe">Barrier Restore Complex</a>, <a href="/products/q-sod-fx-240-moisturizing-creme">Moisturizer Creme</a>, <a href="/products/lca-fx141-hand-and-body-replenisher">Hand &amp; Body Replenisher</a>, and Broad Spectrum Sunscreens to protect and moisturize in real-time.</p>
					</li>

					<li class="grid__item large--one-third">
						<h4 class="uppercase-title">Adaptive Care</h4>

						<p>Designed with the ability to read your skin and decode its needs, Priori’s intelligent biotechnology starts working the moment you use it, and continues to deliver your skin nourishment throughout the day.</p>
					</li>
				</ul>
			</div>

			<div class="cycle-content">
				<ul class="grid">
					<li class="grid__item large--one-third">
						<h4 class="uppercase-title">Your Skin</h4>

						<p>After a long day dealing with changing environments and exposure your skin is needs a break. Caring for your skin in the evening helps achieve skin with a healthy glow when you wake up tomorrow.</p>
					</li>

					<li class="grid__item large--one-third">
						<h4 class="uppercase-title">Treatment</h4>

						<p>By first removing makeup and products you leave your skin free to absorb and utilize more targeted care. Use Priori’s <a href="/products/lca-fx121-skin-renewal-creme">Skin Renewal Creme</a> and <a href="/products/dna-fx221-recovery-serum">Recovery Serum</a>dow to hydrate your cells and restore damaged DNA.</p>
					</li>

					<li class="grid__item large--one-third">
						<h4 class="uppercase-title">Adaptive Care</h4>

						<p>Priori’s recovery treatments use DNA corrective technology to care for your skin at the cellular level. By providing your skin with antioxidants and rejuvenating nutrients Priori targets and restores damaged cells.</p>
					</li>
				</ul>
			</div>
		</div><!-- .day-carousel -->
	</div><!-- .wrapper -->
</section>

<section class="complexes content-stripe">
	<header>
		<!-- <img src="{{ 'product-line-reveal.jpg' | asset_url }}" alt=""> -->
      	<img src="https://cdn.shopify.com/s/files/1/2697/5218/files/adaptive-skincare-banner.jpg?v=1594064086" alt="Adaptive Skincare">

		<div class="wrapper">
			<div class="txt-box">
				<h2 class="uppercase-title">Our Skin Complexes</h2>

				<p>Our 'super-hero' skin ingredients. PRIORI’s proprietary complexes are what give our formulas their advanced adaptive properties. We synergize active ingredients to provide the skin with the personalized care it needs.</p>
			</div>
		</div>
	</header>

	<ul class="list-complexes">
		<li>
		  	<h3>LCA Complex</h3>

		  	<p>Lactic Acid plus Vitamins A, C, E &amp; Pro Vit A -- Offers skin superior, damage-free exfoliation, hydration and normalization to any conditions. Prepares the skin for the very best results while increasing natural hyaluronic responses for in-depth hydration. </p>
		</li>

		<li>
		  	<h3>Q+SOD Complex</h3>

		  	<p>Highly concentrated Super Oxide Dismutase plus CoQ10 --Ultimate antioxidant protection for modern day skin needs. Works to mimic how natural antioxidants function within the skin to offer supreme correction and protection to your cells. </p>
		</li>

		<li>
		  	<h3>Triple Turmeric Complex</h3>

		  	<p>A compound of three turmeric actives, green tea, grapeseed and licorice -- Dramatic antioxidant, anti-inflammatory and anti-redness benefits, as well as skin whitening ability and tyrosinase inhibition to treat pigmentation. </p>
		</li>

		<li>
		  	<h3>DNA Enzyme Complex</h3>

		  	<p>Natural DNA repair enzymes from blue/green algae, microbe and mustard seed extract. -- mimics skin DNA enzymes to cut out and repair damage to skin DNA, allowing the cells to function correctly and neutralizing further damage. </p>
		</li>

		<li>
		  	<h3>Botanical Complex</h3>

		  	<p>Six raw ingredients that provide more than 30 antioxidants -- Includes antioxidants and polyphenols for broad-spectrum cover for the skin. Ultimate daytime protection and repair, plus natural anti-inflammatory, brightening and depigmentation.</p>
		</li>

		<li>
		  	<h3>Advanced Moisture Complex</h3>

		  	<p>Glycerin, Sodium PCA, Trehalose &amp; Sodium Hyaluronate -- Intense hydrating activity both short and long term within the skin. Addresses causes of dry skin, with a moisture-locking ability that keeps skin feeling fresh. </p>
		</li>

	    <li>
		  	<h3>Anti-Irritant Complex</h3>

		  	<p>Allantoin Glycyrrhetinic Acid, Bisabolol &amp; Sucrose Cocoate -- Targeted anti-inflammatory, moisturizing, soothing, lipid replacement and conditioning properties to calm and cleanse irritated areas of your skin. </p>
		</li>

		<li>
		  	<h3>IR Complex</h3>

		  	<p>Naturally occurring Carnosine, Soliberine &amp; Melanin -- Helps to provide broad-spectrum protection by reducing IR-A induced cellular damage providing strong antioxidant absorption of UV and IR radiation.</p>
		</li>
	</ul>
</section>

<section class="cta-stripe content-stripe">
	<h2 class="uppercase-title">Want to learn more about the Science?</h2>

	<a href="https://cdn.shopify.com/s/files/1/2697/5218/files/PRIORI-training-manual-web.pdf?16146477117127875414" download class="btn btn--download" onClick="ga('send', 'event', { eventCategory: 'science overview', eventAction: 'click', eventLabel: 'download'});">Learn More</a>

	<span>*PDF Download</span>
</section>

<section class="instagram-section">
  <div class="wrapper">
    <h2>Priori on Instagram</h2>
    <div id="insta-feed"></div>
  </div>
</section>

