<!-- /templates/page-adaptive-skincare.liquid -->
<div class="banner introducing-tetra banner--responsive">
  <img class="banner-img" src="{{ 'tetra-textures-jungle-01.jpg' | asset_url }}" alt="">
	<div class="large--one-half">
    <div class="banner-content">
			<img src="{{ 'tetra-product.jpg' | asset_url }}" alt="">
    </div>
	</div>
	<div class="large--one-half">
    <div class="banner-txt">
      <h1 class="text--white">TETRA SPF 50</h1>
      <h2 class="text--yellow text--uppercase">Next Generation Suncare</h2>
        <h3 class="text--yellow">Environmental, Digital and DNA Protection</h3>
			<a href="#shop-tetra" class="anchor-link btn btn--yellow btn--arrow text--uppercase">SHOP NOW <span>→</span></a>
    </div>
	</div>
</div><!-- .banner -->

<section class="content-stripe skin-damage">
	<div class="wrapper">
		<div class="grid__item intro one-whole text-center">
			<h1 class="text--gradient">Skin Damage Happens Silently</h1>
			<p>As we move through our days, we’re constantly affected by external factors that impact our skin’s health. </p>
		</div>
		<div class="grid__item large--one-half">
			<div class="card">
				<img src="{{ 'tetra-models-03.jpg' | asset_url }}" alt="">
				<div class="txt-box">
					<h3 class="text--gradient lead">UV Radiation</h3>
					<p>The two main factors of sun damage are UVA and UVB rays. Exposure to both types of UV light is harmful, causing cumulative damage overtime such as premature aging, eye damage, skin cancer, and even suppression of the immune system. </p>
				</div>
			</div>
		</div>
		<div class="grid__item large--one-half">
			<div class="card">
				<img src="{{ 'tetra-models-hands.jpg' | asset_url }}" alt="">
				<div class="txt-box">
					<h3 class="text--gradient lead">Blue Light and Infrared</h3>
					<p>Lesser known factors, such as Blue Light—or high energy visible light—and Infrared Radiation can also penetrate the atmosphere and affect our skin more than we know. In today’s modern society, we’re exposed to blue light from everyday electronics up to 12 hours a day.</p>
				</div>
			</div>
		</div>
	</div><!-- .wrapper -->
  
	<div class="clearfix"></div>
</section>

<section>
	<div class="banner banner--responsive">
		<img class="banner-img" src="{{ 'tetra-textures-jungle-03.jpg' | asset_url }}" alt="">
		<div class="grid__item one--half">
			<div class="banner-content">
				<img src="{{ 'tetra-models-02.jpg' | asset_url }}" alt="">
			</div>
		</div>
		<div class="grid__item one--half">
			<div class="banner-txt">
				<div class="txt-box">
					<h2 class="text--gradient lead">Protection Looks Beautiful on Everyone</h2>

					<p>TETRA is next generation suncare. Designed to repair and protect, TETRA combines four levels of defense which result in our patented Genetic Protection Factor&#8482; (GPF&#8482;), leaving you with beautiful, glowing skin.</p>
					<p>With High Intensity Radiation Complex, antioxidants, and DNA repair enzymes, TETRA offers the ultimate guard from unseen environmental damage.</p>
					<a href="#shop-tetra" class="btn btn--blue btn--arrow">Take Control<span>→</span></a>
				</div>
			</div>
		</div>
	</div><!-- .banner -->
</section>

  <section id="shop-tetra" class="intro-stripe content-stripe">
	<div class="wrapper">
          <div class="grid">
					<div class="product-image-container grid__item large--one-half" style="position:center">
					<a href="/products/tetra-fx250-broad-spectrum-spf-50-sunscreen"><img class="product-image" width="80%" src="https://cdn.shopify.com/s/files/1/2697/5218/files/Priori_TETRA_fx250_sunscreen.jpg?2167" alt="Priori Tetra Mineral Sunscreen - fx250">
                      </a></div>
			<h2 class="light-title">TETRA fx250</h2>
			<h3 class="light-title">Universal Shade</h3>
            <a href="/products/tetra-fx250-broad-spectrum-spf-50-sunscreen" class="btn" style="margin-left: 10px;">Shop Now</a>
		</div>

		   <div class="grid">
			<div class="product-image-container grid__item large--one-half">
			<a href="/products/tetra-fx251-spf-50-tinted-mineral-sunscreen"><img class="product-image" width="80%"src="https://cdn.shopify.com/s/files/1/2697/5218/files/PR_CARTON_TETRAfx251_US_1200x1800_e466183a-cb5a-437b-b0a5-58880c12d14f.jpg?2167" alt="Priori Tetra Tinted Sunscreen - fx251">
              </a></div>
			<h2 class="light-title">TETRA fx251</h2>
			<h3 class="light-title">Color Guide - Tinted</h3>
             <a href="/products/tetra-fx251-spf-50-tinted-mineral-sunscreen" class="btn" style="margin-left: 10px;">Shop Now</a>
		</div>
	</div><!-- .wrapper -->
</section>


<section class="content-stripe four-levels">
	<div class="wrapper">
		<div class="grid__item one-whole intro text-center">
			<h2 class="text-center text--gradient">Four Levels of Environmental Protection</h2>
			<p>Tetra adapts, in real-time, to provide what your skin needs, whenever it is needed. The sun has finally met its match.</p>
		</div>
		<div class="grid__item whole protection">
			<img class="banner-img" src="{{ 'four-levels.svg' | asset_url }}" alt="">
			<div class="grid__item large--one-third small--one-whole">
				<h3 class="number text--red">1 </h3>
				<h3 class="text--gradient">Broad Spectrum<br> Mineral SPF 50</h3>
				<p class="text--muted small">Zinc Oxide, Titanium Dioxide</p>
				<p>Active mineral ingredients Titanium Dioxide and Zinc Oxide reflect and scatter UVA and UVB rays, protecting any exposed skin from the sun. </p>
			</div>
			<div class="grid__item large--one-third push--large--one-third small--one-whole ">
				<h3 class="number text--red">2 </h3>
				<h3 class="text--gradient">DNA Enzyme Complex</h3>
				<p class="text--muted small">Microbe, Blue/Green Algae, and Mustard Seed Extracts</p>
				<p>This complex uses all-natural ingredients that mimic the skin’s DNA enzymes to cut out and repair damage, allowing cells to function correctly while neutralizing further damage. </p>
			</div>
		</div>
		<div class="grid__item whole">
			<div class="grid__item large--one-third small--one-whole">
				<h3 class="number text--red">3 </h3>
				<h3 class="text--gradient">High Intensity<br> Radiation Complex</h3>
				<p class="text--muted small">Carnosine, Soliberine, Melanin</p>
				<p>Reduces infrared-induced cellular damage and intercepts before the formation of free radicals. Soliberine blocks 43% of HEV Blue Light from our everyday electronic devices.</p>
			</div>
			<div class="grid__item large--one-third push--large--one-third small--one-whole ">
				<h3 class="number text--red">4 </h3>
				<h3 class="text--gradient">Antioxidant Complex</h3>
				<p class="text--muted small">SOD, Ergothioneine</p>
				<p>Made with powerful antioxidant, SOD, and Ergothioneine, the AO Complex restores and replenishes cells affected by sun damage.</p>
			</div>
		</div>
	</div><!-- .wrapper -->
</section>

<section>
	<div class="banner banner--responsive">
		<img class="banner-img" src="{{ 'tetra-textures-jungle-02.jpg' | asset_url }}" alt="">
		<div class="grid__item large--one-half small--one-whole">
			<div class="banner-content">
				<img src="{{ 'tetra-models-04.jpg' | asset_url }}" alt="">
			</div>
		</div>
		<div class="grid__item large--one-half small--one-whole">
			<div class="banner-txt">
				<div class="txt-box">
					<h2 class="text--gradient lead">TETRA is More Than SPF. It’s GPF&#8482;. </h2>
					<p>Genetic Protection Factor (GPF&#8482;) keeps your skin protected both outdoors and indoors. The result is healthy, radiant skin around the clock. </p>
					<div class="grid">
						<div class="grid__item large--one-half small--one-whole">
							<a href="#shop-tetra" class="btn btn--blue btn--arrow">Stay Protected<span>→</span></a>
						</div>
						<div class="tetra-badge grid__item large--one-half small--one-whole">
							<img style="width:200px;" src="{{ 'tetra-badge.jpg' | asset_url }}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- .banner -->
</section>

