<div class="hero-carousel">
	{% for block in section.blocks %}
		{% if block.settings.enabled %}

		<div class="banner banner-home" id="banner-{{ block.id }}">
			<div class="banner-background" style="background-color: {{ block.settings.slide_bg_color | default: 'transparent' }}; opacity: {{ block.settings.slide_bg_opacity | divided_by: 100.00 }};">
		  {% if block.settings.slide_bg_image %}
		  	<img class="banner-background_img" src="{{ block.settings.slide_bg_image | img_url: '1920x' }}" alt="">
		  {% endif %}

		  {% if block.settings.slide_bg_video != blank %}
				<video src="{{ block.settings.slide_bg_video }}" class="banner-background_video" autoplay loop muted></video>
	    {% endif %}
			</div>

		  {% comment %}

		  {% if section.settings.image == blank %}
		    <div class="placeholder-background">
		      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
		    </div>
		  {% endif %}

		  {% endcomment %}

		  <div class="slide-content slide-content--{{ block.settings.content_position }}">
		  	<div class="slide-content-wrapper" style="margin: {{ block.settings.content_margin_y }}px {{ block.settings.content_margin_x }}px;">
	  			<div class="slide-content-background" style="background-color: {{ block.settings.content_bg_color | default: 'transparent' }}; opacity: {{ block.settings.content_bg_opacity | divided_by: 100.00 }};">
					{% if block.settings.content_bg_image %}
						<img class="slide-content-background_img" src="{{ block.settings.content_bg_image | img_url: 'master' }}" alt="">
					{% endif %}
	  			</div>

		  		<div class="slide-content-text slide-content-text--{{ block.settings.content_color }}" style="padding: {{ block.settings.content_padding_y }}px {{ block.settings.content_padding_x }}px;">
		  			{% if block.settings.heading %}
		  				<div class="slide-content-heading">{{ block.settings.heading }}</div>
		  			{% endif %}
		  			{% if block.settings.line_break %}
		  				<hr />
		  			{% endif %}
		  			{% if block.settings.subhead %}
		  				<div class="slide-content-subhead">{{ block.settings.subhead }}</div>
		  			{% endif %}
		  			{% if block.settings.button_label != blank %}
		  				<a class="btn slide-content-button" href="{{ block.settings.link | default: '#' }}">{{ block.settings.button_label }}</a>
		  			{% endif %}
		  		</div>
		  	</div>
		  </div>
		</div>
		{% endif %}
{% endfor %}
</div>

{% javascript %}

$(document).ready(function(){
  const $gallery = $('.hero-carousel').flickity({
    cellSelector: '.banner',
    wrapAround: true,
    cellAlign: 'left',
		pageDots: true,
    imagesLoaded: true
  });
	const $galleryCells = $gallery.find('.banner');
	if ( $galleryCells.length < 2 ) {
		$gallery.addClass('is-hiding-nav-ui');
	}
});

{% endjavascript %}


{% schema %}
{
	"blocks": [
		{
			"name": "Slide",
			"type": "slide",
			"limit": 4,
			"settings": [
	      {
	        "type": "header",
	        "content": "Enable"
	      },
				{
	        "type": "checkbox",
	        "id": "enabled",
	        "label": "Show Slide",
					"default": true
	      },
	      {
	        "type": "header",
	        "content": "Slide Background"
	      },
				{
					"type": "image_picker",
					"id": "slide_bg_image",
					"label": {
						"de": "Foto",
						"en": "Image",
						"es": "Imagen",
						"fr": "Image",
						"it": "Immagine",
						"ja": "画像",
						"pt-BR": "Imagem"
					}
				},
				{
					"type": "text",
					"id": "slide_bg_video",
					"label": "Video"
				},
				{
				   "type": "color",
				   "id": "slide_bg_color",
					 "label": {
 						"de": "Hintergrundfarbe",
 						"en": "Background Color",
 						"es": "Color de fondo",
 						"fr": "Couleur de Fond ",
 						"it": "Colore di sfondo",
 						"ja": "背景色",
 						"pt-BR": "Cor de fundo"
 		      },
				   "default": "#ffffff"
				},
				{
				  "type": "range",
				  "id": "slide_bg_opacity",
				  "min": 0,
				  "max": 100,
				  "step": 10,
				  "unit": "%",
				  "label": "Opacity",
				  "default": 100
				},
	      {
	        "type": "header",
	        "content": "Content"
	      },
				{
					"type": "image_picker",
					"id": "content_bg_image",
					"label": {
						"de": "Foto",
						"en": "Image",
						"es": "Imagen",
						"fr": "Image",
						"it": "Immagine",
						"ja": "画像",
						"pt-BR": "Imagem"
					}
				},
				{
				   "type": "color",
				   "id": "content_bg_color",
					 "label": "Background Color",
				   "default": "transparent"
				},
				{
				  "type": "range",
				  "id": "content_bg_opacity",
				  "min": 0,
				  "max": 100,
				  "step": 10,
				  "unit": "%",
				  "label": "Opacity",
				  "default": 100
				},
				{
		      "type": "select",
		      "id": "content_color",
		      "label": {
		        "en": "Color"
		      },
		      "default": "light",
		      "options": [
		        {
		          "value": "dark",
		          "label": {
		            "en": "Dark"
		          }
		        },
		        {
		          "value": "light",
		          "label": {
		            "en": "Light"
		          }
		        }
		      ]
		    },
		    {
		      "type": "richtext",
		      "id": "heading",
		      "label": "Heading",
		      "default": "<p>Heading goes here...</p>"
		    },
				{
	        "type": "checkbox",
	        "id": "line_break",
	        "label": "Bottom Line",
					"default": true
	      },
		    {
		      "type": "richtext",
		      "id": "subhead",
		      "label": "Description",
		      "default": "<p>Description goes here...</p>"
		    },
				{
		      "type": "text",
		      "id": "button_label",
		      "label": "Button Label"
		    },
		    {
		      "type": "url",
		      "id": "link",
		      "label": "Link"
		    },
	      {
	        "type": "header",
	        "content": "Position"
	      },
				{
		      "type": "select",
		      "id": "content_position",
		      "label": "Placement",
		      "default": "right",
		      "options": [
		        {
		          "value": "right",
		          "label": "Right"
		        },
		        {
		          "value": "left",
		          "label": "Left"
		        }
		      ]
		    },
				{
				  "type": "range",
				  "id": "content_padding_x",
				  "min": 0,
				  "max": 200,
				  "step": 5,
				  "unit": "px",
				  "label": "Padding X",
				  "default": 30
				},
				{
				  "type": "range",
				  "id": "content_padding_y",
				  "min": 0,
				  "max": 200,
				  "step": 5,
				  "unit": "px",
				  "label": "Padding Y",
				  "default": 30
				},
				{
				  "type": "range",
				  "id": "content_margin_x",
				  "min": 0,
				  "max": 200,
				  "step": 5,
				  "unit": "px",
				  "label": "Margin X",
				  "default": 0
				},
				{
				  "type": "range",
				  "id": "content_margin_y",
				  "min": 0,
				  "max": 200,
				  "step": 5,
				  "unit": "px",
				  "label": "Margin Y",
				  "default": 0
				}
			]
		}
	]
}
{% endschema %}
